@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
    /* colors */
    --color-background: #eff1f7;
    --color-primary: #00a6f4;
    --color-primary-dark: #2f7cf0;

    /* font */
    --color-font-primary: #2e4765;
    --color-font-secondary: #676b84;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Inter', sans-serif;

    /* breaking points */
    --breakpoint-xs: 22rem;
}
